.collapse {
    &__header {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        background-color: #ff6060;
        border-radius: 5px;
        color: #fff;
        line-height: 34px;
        padding: 10px 20px 10px 15px;
        & h2 {
            @media (max-width: 768px) {
                font-size: 13px;
            }
        }
    }
    &__icone {
        transition: transform 0.3s ease-in-out;
        cursor: pointer;
        font-size: 24px;
        &--ouverte {
            transform: rotate(-180deg);
        }
        &--fermee {
            transform: rotate(0deg);
        }
    }

    &__content {
        background-color: #f1f1f1;
        font-size: 16px;
        overflow: hidden;
        transition: height 0.3s ease-out, padding 0.3s ease-out;
        padding: 0 18px;
        transform-origin: top;
        height: 0;
        &--ouvert {
            padding: 12px 18px;
            height: auto;
        }
    }
}
