.logement__contenu {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 40px 0;
}
.infos {
    display: flex;
    flex-direction: column;
    gap: 25px;
    &__titre {
        display: flex;
        flex-direction: column;
        gap: 15px;
        &__h1 {
            font-size: 36px;
            font-weight: 500;
            color: #ff6060;
        }
        &__h2 {
            font-size: 18px;
            color: black;
        }
    }
}
.references {
    display: flex;
    flex-direction: column;
    align-items: end;
    justify-content: space-between;
    &__host {
        display: flex;
        flex-direction: row;
        align-items: center;
        width: 167px;
        &__h3 {
            color: #ff6060;
            font-size: 18px;
            margin-right: 8px;
            text-align: end;
        }
        &__img {
            border-radius: 65px;
            height: 64px;
            width: 64px;
        }
    }
    &__ratings {
        display: flex;
        gap: 10px;
    }
}
.detail {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    &__collapse {
        width: 45%;
    }
}
